@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* Landing Pange */
  /* colors */
  --color-primary: #ffffff;
  --color-secondary: #12141d;
  --color-terciary: #fafafa;

  /* fonts */
  --font-inter: var(--font-inter);
  --font-space_grotesk: var(--font-space_grotesk);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  /* ----------------------------------------------------- */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility escuro {
  background-color: red;
  width: 500px;
  color: blue;
}

body {
  font-family: var(--font-inter);
}

.menuBordas {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 25px;
  /* border: 1px solid white; */
  z-index: 1;
}

.menuBordas::before {
  position: absolute;
  top: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
}

.menuBordas::after {
  position: absolute;
  bottom: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .menuBordas {
    display: none;
  }
}

/* ----------------------------------------------------------------------------------- */

.menuBordasClose {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 25px;
}

.menuBordasClose::before {
  position: absolute;
  top: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
  animation: beforeClose 0.3s forwards;
}

@keyframes beforeClose {
  from {
    transform: rotate(-45deg);
    top: 9px;
  }
  to {
    transform: rotate(0deg);
    top: -2px;
  }
}

.menuBordasClose::after {
  position: absolute;
  bottom: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
  animation: afterMove 0.3s forwards;
}

@keyframes afterMove {
  from {
    transform: rotate(45deg);
    bottom: 10px;
  }
  to {
    transform: rotate(0deg);
    bottom: -2px;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

.menuBordasOpen {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 25px;
}

.menuBordasOpen::before {
  position: absolute;
  top: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
  animation: beforeOpen 0.3s forwards;
}

@keyframes beforeOpen {
  from {
    transform: rotate(0deg);
    top: -2px;
  }
  to {
    transform: rotate(-45deg);
    top: 10px;
  }
}

.menuBordasOpen::after {
  position: absolute;
  bottom: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
  animation: afterOpen 0.3s forwards;
}

@keyframes afterOpen {
  from {
    transform: rotate(0deg);
    bottom: -2px;
  }
  to {
    transform: rotate(45deg);
    bottom: 10px;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

.menuCentro {
  width: 35px;
  height: 4px;
  border-radius: 2px;
}

.menuCentroClose {
  animation: showLine 0.3s forwards;
  opacity: 1;
}

@keyframes showLine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menuCentroOpen {
  animation: hiddenLine 0.3s forwards;
  opacity: 0;
}

@keyframes hiddenLine {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

@media (max-width: 767px) {
  nav > ul {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .itens {
    position: absolute;
    top: -430px;
    right: 0px;
  }

  .itens > div {
    flex-direction: column;
    background-color: white;
    padding: 89px 15px 15px 15px;
    width: 240px;
    height: fit-content;
    color: black;
    border-radius: 0px 0px 0px 8px;
  }

  .itensClose {
    animation: closeMenu 0.5s forwards;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0.281);
  }

  @keyframes closeMenu {
    from {
      top: 0px;
      height: 100vh;
    }
    to {
      top: -430px;
      height: 0vh;
    }
  }

  .itensOpen {
    animation: openMenu 0.5s forwards;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.281);
  }

  @keyframes openMenu {
    from {
      top: -430px;
      height: 0vh;
    }
    to {
      top: 55px;
      height: 100vh;
    }
  }
}
