@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Landing Pange */
  /* colors */
  --color-primary: #ffffff;
  --color-secondary: #12141d;
  --color-terciary: #fafafa;

  /* fonts */
  --font-inter: var(--font-inter);
  --font-space_grotesk: var(--font-space_grotesk);
  /* ----------------------------------------------------- */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-inter);
}
