@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* Landing Pange */
  /* colors */
  --color-primary: #ffffff;
  --color-secondary: #12141d;
  --color-terciary: #fafafa;

  /* fonts */
  --font-inter: var(--font-inter);
  --font-space_grotesk: var(--font-space_grotesk);
  /* ----------------------------------------------------- */
}

@utility escuro {
  background-color: red;
  width: 500px;
  color: blue;
}

body {
  font-family: var(--font-inter);
}

.menuBordas {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 25px;
  /* border: 1px solid white; */
  z-index: 1;
}

.menuBordas::before {
  position: absolute;
  top: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
}

.menuBordas::after {
  position: absolute;
  bottom: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .menuBordas {
    display: none;
  }
}

/* ----------------------------------------------------------------------------------- */

.menuBordasClose {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 25px;
}

.menuBordasClose::before {
  position: absolute;
  top: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
  animation: beforeClose 0.3s forwards;
}

@keyframes beforeClose {
  from {
    transform: rotate(-45deg);
    top: 9px;
  }
  to {
    transform: rotate(0deg);
    top: -2px;
  }
}

.menuBordasClose::after {
  position: absolute;
  bottom: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
  animation: afterMove 0.3s forwards;
}

@keyframes afterMove {
  from {
    transform: rotate(45deg);
    bottom: 10px;
  }
  to {
    transform: rotate(0deg);
    bottom: -2px;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

.menuBordasOpen {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 25px;
}

.menuBordasOpen::before {
  position: absolute;
  top: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
  animation: beforeOpen 0.3s forwards;
}

@keyframes beforeOpen {
  from {
    transform: rotate(0deg);
    top: -2px;
  }
  to {
    transform: rotate(-45deg);
    top: 10px;
  }
}

.menuBordasOpen::after {
  position: absolute;
  bottom: -2px;
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 2px;
  animation: afterOpen 0.3s forwards;
}

@keyframes afterOpen {
  from {
    transform: rotate(0deg);
    bottom: -2px;
  }
  to {
    transform: rotate(45deg);
    bottom: 10px;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

.menuCentro {
  width: 35px;
  height: 4px;
  border-radius: 2px;
}

.menuCentroClose {
  animation: showLine 0.3s forwards;
  opacity: 1;
}

@keyframes showLine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menuCentroOpen {
  animation: hiddenLine 0.3s forwards;
  opacity: 0;
}

@keyframes hiddenLine {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

@media (max-width: 767px) {
  nav > ul {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .itens {
    position: absolute;
    top: -430px;
    right: 0px;
  }

  .itens > div {
    flex-direction: column;
    background-color: white;
    padding: 89px 15px 15px 15px;
    width: 240px;
    height: fit-content;
    color: black;
    border-radius: 0px 0px 0px 8px;
  }

  .itensClose {
    animation: closeMenu 0.5s forwards;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0.281);
  }

  @keyframes closeMenu {
    from {
      top: 0px;
      height: 100vh;
    }
    to {
      top: -430px;
      height: 0vh;
    }
  }

  .itensOpen {
    animation: openMenu 0.5s forwards;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.281);
  }

  @keyframes openMenu {
    from {
      top: -430px;
      height: 0vh;
    }
    to {
      top: 55px;
      height: 100vh;
    }
  }
}
